In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow.keras as k
import os
import pandas as pd

In [3]:
df = pd.read_csv("customer_churn.csv")
df.head()

   customerID  gender  SeniorCitizen Partner  ...              PaymentMethod  MonthlyCharges TotalCharges Churn
0  7590-VHVEG  Female              0     Yes  ...           Electronic check           29.85        29.85    No
1  5575-GNVDE    Male              0      No  ...               Mailed check           56.95       1889.5    No
2  3668-QPYBK    Male              0      No  ...               Mailed check           53.85       108.15   Yes
3  7795-CFOCW    Male              0      No  ...  Bank transfer (automatic)           42.30      1840.75    No
4  9237-HQITU  Female              0      No  ...           Electronic check           70.70       151.65   Yes

[5 rows x 21 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df2 = df.copy()

In [7]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [13]:
## Removing the spaces in the column values 

for i in df2.columns:
    if i not in ['MonthlyCharges', 'SeniorCitizen', 'tenure']:
        df2[i] = pd.Series([i.strip() for i in df2[i]])

In [16]:
df2['TotalCharges'] = pd.to_numeric(df2['TotalCharges'])

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [23]:
## Checking for the NAN values in the df

df2 = df2[df2.notnull()]

      customerID  gender  SeniorCitizen Partner  ...              PaymentMethod  MonthlyCharges TotalCharges Churn
0     7590-VHVEG  Female              0     Yes  ...           Electronic check           29.85        29.85    No
1     5575-GNVDE    Male              0      No  ...               Mailed check           56.95      1889.50    No
2     3668-QPYBK    Male              0      No  ...               Mailed check           53.85       108.15   Yes
3     7795-CFOCW    Male              0      No  ...  Bank transfer (automatic)           42.30      1840.75    No
4     9237-HQITU  Female              0      No  ...           Electronic check           70.70       151.65   Yes
...          ...     ...            ...     ...  ...                        ...             ...          ...   ...
7038  6840-RESVB    Male              0     Yes  ...               Mailed check           84.80      1990.50    No
7039  2234-XADUH  Female              0     Yes  ...    Credit card (automatic)          103.20      7362.90    No
7040  4801-JZAZL  Female              0     Yes  ...           Electronic check           29.60       346.45    No
7041  8361-LTMKD    Male              1     Yes  ...               Mailed check           74.40       306.60   Yes
7042  3186-AJIEK    Male              0      No  ...  Bank transfer (automatic)          105.65      6844.50    No

[7043 rows x 21 columns]

In [ ]:
for i, r in df.iterrows():